*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


/* utility */

.button {
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
}

.bg-white{
    background-color: white;
    color: black;
}

.bg-black{
    background-color: #23272a;
    color: white;
}

.width-70{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
}

/* header */

header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    height: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #255ee9;
}

section.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px ;
    padding-top: 20px;
}

.text span{
    margin-right: 20px;
}


ul{
    list-style-type: none;
    display: inline-flex;  
}

ul li a{
    margin: 0 30px;
    color: white;
}

section.front{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
}

h1{
    padding: 20px 0;
    font-size: 56px;
}

p{
    padding: 20px 0px;
    font-size: 20px;
    line-height: 30px;
}

div.text{   
    height: 100%;
    width: 42%;
    color: white;
    text-align: center;
}

/* wave css-svg bottom */
.custom-shape-divider-bottom-1676906527 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: lightgray;
}

.custom-shape-divider-bottom-1676906527 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1676906527 .shape-fill {
    fill: #FFFFFF;
}

/* wave css-svg top */
.custom-shape-divider-top-1676906746 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: lightgray;
    transform: rotate(180deg)
}

.custom-shape-divider-top-1676906746 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1676906746 .shape-fill {
    fill: #FFFFFF;
}

/* main */
.section-1,
.section-2,
.section-3{
    height: 900px;
    display: flex;
    padding: 100px 0;
    justify-content: center;
    position: relative;
}

.section-4{
    height: 1200px;
    display: flex;
    padding: 100px 0;
    justify-content: center;
}

main section:nth-child(even){
    background-color: lightgray;
}

main div{
    width: 70%;
    display: flex;
}

.container{
    display: flex;
    
}

.description{
    background-color: pink;
    width: 30%;
    
}

.img{
    background-size: 100%;
    width: 70%;
    align-items: center;
}


.section-2 .description{
    order:-1;
}

.green{
    background-color: green;
    width: 100%;
    border: 3px dotted black;
}

footer{
    background-color: darkblue;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer section.nav{
    background-color: black;
    width: 70%;
    height: 80%;
    margin: 20px 0;
    display: flex;
}

aside{
    width: 30%;
    height: 100%;
    background-color: lightcoral;
    border: 3px dotted black;
}

footer .nav div{
    width: calc((100%-30%) /4);
    background-color: greenyellow;
    height: 100%;
    border: 3px dotted black;

}

hr{
    width: 100%;
}

footer .login{
    width: 70%;
    height: 20%;
    background-color: aquamarine ;
    margin: 20px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login div{
    background-color: yellow;
    border: 3px dotted black;
}