*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


/* utility */

.button {
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
}

.bg-white{
    background-color: white;
    color: black;
}

.bg-black{
    background-color: #23272a;
    color: white;
}

.bg-sky{
    background-color:#8ea1e1 ;
    color: white;
}

.width-70{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
}

/* header */

header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    height: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #255ee9;
}

header section.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px ;
    padding-top: 20px;
}

.text span{
    margin-right: 20px;
}


header ul{
    list-style-type: none;
    display: inline-flex;  
}

header ul li a{
    margin: 0 30px;
    color: white;
}

section.front{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
}

h1{
    padding: 20px 0;
    font-size: 56px;
}

header p{
    padding: 20px 0px;
    font-size: 20px;
    line-height: 30px;
}

div.text{   
    height: 100%;
    width: 42%;
    color: white;
    text-align: center;
}

/* wave css-svg bottom */
.custom-shape-divider-bottom-1676906527 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #f6f6f6;
}

.custom-shape-divider-bottom-1676906527 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1676906527 .shape-fill {
    fill: #FFFFFF;
}

/* wave css-svg top */
.custom-shape-divider-top-1676906746 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #f6f6f6;
    transform: rotate(180deg)
}

.custom-shape-divider-top-1676906746 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1676906746 .shape-fill {
    fill: #FFFFFF;
}

/* main */
.section-1,
.section-2,
.section-3{
    display: flex;
    padding: 150px 0;
    justify-content: center;
    position: relative;

}

.section-4{
    display: flex;
    padding: 100px 0;
    justify-content: center;
}

main section:nth-child(even){
    background-color: #f6f6f6;
}

main div{
    width: 70%;
    display: flex;
}

main h2{
    font-size: 56px;
}

main p{
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
}

.container{
    display: flex;  
}

.description{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.section-1 .img{
    background-size: 100%;
    width: 70%;
    align-items: start;
}

.section-2 .img{
    width: 70%;
    align-items: start;
    justify-content: end;
}


.section-2 .description{
    order:-1;
}

.special{
    /* background-color: green; */
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#img-special{
    width: 100%;
}

#img-special img{
    width: 100%;
}

.special-description{
    flex-direction: column;
    display: flex;
    width: 100%;
    text-align: center;
}

#ready{
    margin-bottom: 30px;
    position: relative;
    padding: 10px;
}

#ready img{
    position:absolute;
    width: 120%;
    bottom: 35px;
    left: -40px;
}

#ready h3{
    font-size: 30px;
}

/* footer */
footer{
    background-color: #23272a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}

footer section.nav{
    width: 70%;
    align-items: start;
    margin: 20px 0;
    display: flex;
}

aside{
    width: 30%;
    height: 100%;
    
}

footer h3{
    color: #677bc3;
    font-size: 30px;
}

footer h4{
    color: #677bc3;
    line-height: 30px;
}


footer aside ul li{
    list-style-type: none;
    display: inline-flex;
    margin-right: 0 10px;
}

footer aside p{
    color: white ;
    line-height: 50px;
}

aside img{
    width: 20px;
    margin-right: 20px;
}

footer div ul{
    list-style-type: none;
    line-height: 30px;
}

footer .nav div{
    width: calc((100%-30%) /4);
    
    height: 100%;
    
}

footer .menu ul li{
    color: white;
}

hr{
    width: 70%;
    border: 1px solid #677bc3 ;
}

footer .login{
    width: 70%;
    height: 20%;
    margin: 30px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
